@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.wrap{
    width:1170px;
    margin: 0 auto;
}

.wrap_sl{
    width: 1030px;
}

.button{
    display: inline-block;
    font-weight: 700;
    background: #2500f9;
    color: #fff;
    padding: 16px 40px;
    border-radius: 32px;
    text-decoration: none;
}

/*========= header =================*/

.header{
    position: absolute;
    width: 100%;
    height: 150px;
    top: 0;
    left: 0;
    padding-top: 90px;
    box-sizing: border-box; /*свойство запрещающее масштабироваться элементу за счет padding и border*/
}

.header__wrap{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #242f51;
}

.logo__color{
    color: #fcae61;
}

.menu__list{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu__item{
    margin-left: 32px;
}

.menu__link{
    color:  #242f51;
    text-decoration: none;
    font-size: 16px;
}

.menu__button{
    color: #fff;
}

/*========= welcome =================*/

.welcome{
    background: url(img/city.png) #fdfdfe bottom center no-repeat; 
    background-size: 100%;
    height: 100vh;
}

.welcome__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 150px;
    box-sizing: border-box;
}

.welcome__img{
    width: 400px;
}

.welcome__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.welcome__awards{
    background: #e2eaed;
    display: flex;
    align-items: center;
    padding-right: 50px;
    border-radius: 30px;
    color: #242f51;
    font-size: 18px;
    margin: 0;
}

.welcome__achivment{
    height: 40px;
    width: 40px;
    background: #feaa25;
    border-radius: 30px;
    margin-right: 8px;
}

.welcome__title{
    color: #242f51;
    font-size: 60px;
    line-height: 1.25;
    margin: 22.5px 0;
}
























